* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
}

div {
    display: block;
}

.header {
    text-align: center;
    margin: 0;
    padding: 10px; 
}

#title, #description {
    font-family: 'Courier New', Courier, monospace;
}

#title {
    font-size: 50px;
}

#survey-form {
    width: 60vw;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F4B183;
    padding-bottom: 50px;
}

.input-group {
    padding: 0.25rem;
    margin: 10px;
    align-items: center; 
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

.age-group {
    display: flex;
    justify-content: space-around;
}

label {
    display: block;
}

fieldset:nth-child(2) > p:nth-child(1) {
    background-color: #FFD966;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    margin-top: 0;
}

label, p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

label, input, select {
    border-radius: 0.25rem;
    border-style: none;
}

input, select, textarea {
    padding: 10px;
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    overflow: hidden;
}

textarea {
    min-height: 100px;
    resize: none;
}


fieldset {
    border: none;
    padding: 5px;
}

input[type="submit"] {
    background-color: #FFD966;
    font-size: 20px;
}

input[type="submit"]:hover {
    background-color: #FF8551;
    color: #FFD966;
}

input:invalid {
    border-color: #900;
    background-color: #fdd;
}

input:focus:invalid {
    outline: none;
}

.error-message {
    font-style: italic;
    color: #900;
    font-size: 0.8rem;
    font-weight: bold;
}